// IMPROTS --------------------------------------------------------------------------------

// Poppins:
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

// Inter:
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')

// VARIABLES ------------------------------------------------------------------------------

$white100: #F4F4F4
$white200: #EEEEEE
$white300: #E1E1E1
$white400: #D3D3D3

$gray100: #C4C4C4
$gray200: #A8A8A8
$gray300: #939393

$black100: #737373
$black200: #535353
$black300: #343434
$black400: #343434

$blue100: #D1E9FF
$blue200: #A6D2FA
$blue300: #75B8F4
$blue400: #4AA4F4
$blue500: #1990FB

$dark-blue100: #7E8E9C
$dark-blue200: #597690
$dark-blue300: #3A6489
$dark-blue400: #18466F
$dark-blue500: #00325E

$red100: #FFD1D1
$red200: #FDAAAA
$red300: #F28181
$red400: #F25454
$red500: #F53B3B

$dark-red100: #9D6F6F
$dark-red200: #A56868
$dark-red300: #8F3939
$dark-red400: #8C2525
$dark-red500: #710000

$green100: #DCF2C1
$green200: #C5EF91
$green300: #AAE760
$green400: #A8F051
$green500: #8EEF18

$dark-green100: #B0C19A
$dark-green200: #8FA86F
$dark-green300: #709045
$dark-green400: #5A8324
$dark-green500: #4D7E09

$gold100: #ECCF96
$gold200: #F6CD7A
$gold300: #F4BD4D
$gold400: #FAB936
$gold500: #FAB019
$gold600: #FFAB00
$gold700: #DB9302

$heading: 'Poppins', sans-serif
$text: 'Inter', sans-serif

// BOILERPLATE ----------------------------------------------------------------------------

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  height: 100vh
  width: 100%
  background: $white100
  font-family: $text

.display01
  font-family: $heading
  font-size: 64px

.display02
  font-family: $heading
  font-size: 50px

h1
  font-family: $heading
  font-size: 35px

h2
  font-family: $heading
  font-size: 30px

h3
  font-family: $heading
  font-size: 25px

p
  font-size: 17px
  font-weight: 400
  font-family: $text

button
  background-color: $blue500
  color: $white100
  padding: .5rem 3rem
  border: none
  font-size: 15px
  font-weight: 600
  font-family: $heading
  border-radius: .5rem
  cursor: pointer
  transition: 150ms

  &:hover
    border-radius: 0

// STYLE ----------------------------------------------------------------------------------

header
  display: flex
  width: 100%
  height: 4rem
  justify-content: space-around
  align-items: center
  background: $white300

  .nav
    display: flex
    justify-content: space-around
    align-items: center
    width: 30rem
    list-style: none

    a
      font-size: 17px
      font-weight: 600
      font-family: $text
      text-decoration: none
      color: $black400
      transition: 150ms

      &:hover
        color: $gray300
